[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fastapi = {extras = ["standard"], version = "*"}
jinja2 = "*"
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.14"
