#bait_img {
    animation: bounceInLeft;
    animation-duration: 2s;
}

.load_in {
    animation: fadeInRight;
    animation-duration: 1s;
}

.sendoff {
    animation: fadeOutRight;
    animation-duration: 1s;
}

.hidden {
    display: none;
}